<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="button-container">
        <button class="back-button" onclick="window.history.back()">↩ Voltar</button>
    </div>
    <div class="evento">
        <img style="border:10px black;" src="../static/img/mapa_geral.png" alt="">
    </div>
</body>
</html>