<!-- filepath: /c:/Users/vasco/Codigos/ifmaps-new/IFMAPS_NEW/templates/register.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="button-container">
        <button class="back-button" onclick="window.history.back()">↩ Voltar</button>
    </div>
    <div class="container">
        <h1>Registrar Usuário</h1>
        <form method="POST" action="{{ url_for('auth.register') }}">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button class="normal-button" type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>